PG_USER=postgres
PG_HOST=localhost
PG_DATABASE=junto_db
PG_PASSWORD=postgres
PG_PORT=5432
PORT=3000
JWT_SECRET=your_jwt_secret_here
# DATABASE_URL=postgres://user:password@host:port/database?ssl=true
